#about-this-service {
    float: right;
}

#form {
    display: flex;
}

input[name="query"] {
    width: 50%;
    font-size: large;
}

#similar-terms, #related-terms {
    font-size: small;
}

#results {
    float: left;
    width: 85%;
}

#pages {
    text-align: center;
}

#side_bar {
    float: right;
    width: 15%;
}

#bounding_box {
    height: 20em;
    margin-bottom: 1em;
}

#bounding_boxes {
    width: 20em;
    height: 20em;
    margin-bottom: 1em;
}

#time_range label {
    white-space: nowrap;
}

.leaflet-draw-draw-rectangle::before {
    content: '➚';

    position: absolute;
    top: 0.07em;
    right: 0.07em;

    font-size: 3em;
}

.leaflet-container .leaflet-button {
    background-color: white;

    width: 30px;
    height: 30px;

    text-align: center;
    line-height: 30px;

    font-size: 30px;
    color: black;

    cursor: pointer;
}

.spatial-cluster {
    width: 30px !important;
    height: 30px !important;
    margin-left: -15px !important;
    margin-top: -15px !important;
    border-radius: 15px;

    text-align: center;
    line-height: 30px;

    color: white;
    background-color: black;
    font-size: 7px;
}
