<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/leaflet/leaflet.css">
    <link rel="stylesheet" href="/leaflet/leaflet.draw.css">

    <script src="/leaflet/leaflet.js" defer></script>
    <script src="/leaflet/leaflet.draw.js" defer ></script>
    <script src="/search.js" defer></script>

    <title>umwelt.info: Search results</title>
  </head>

  <body>

    <div id="about-this-service">
      <a href="/swagger-ui/">API</a>
      <a href="/source.html">src</a>
    </div>

    <form id="form" method="GET">
      <input name="query" type="search" autocomplete="off" list="completions" value="{{ params.query }}" data-default="{{ TextQuery::default() }}" />

      <datalist id="completions"></datalist>

      <input name="types_root" type="hidden" value="{{ params.types_root }}" data-default="{{ self::default_root() }}" />
      <input name="topics_root" type="hidden" value="{{ params.topics_root }}" data-default="{{ self::default_root() }}" />
      <input name="origins_root" type="hidden" value="{{ params.origins_root }}" data-default="{{ self::default_root() }}" />
      <input name="licenses_root" type="hidden" value="{{ params.licenses_root }}" data-default="{{ self::default_root() }}" />
      <input name="languages_root" type="hidden" value="{{ params.languages_root }}" data-default="{{ self::default_root() }}" />
      <input name="resource_types_root" type="hidden" value="{{ params.resource_types_root }}" data-default="{{ self::default_root() }}" />

      <input name="page" type="hidden" value="{{ params.page }}" data-default="{{ self::default_page() }}" />
      <input name="results_per_page" type="hidden" value="{{ params.results_per_page }}" data-default="{{ self::default_results_per_page() }}" />

      <input name="bounding_box_west" type="hidden" {% if let Some(longitude) = params.bounding_box_west %} value="{{ longitude }}" {% else %} disabled {% endif %} />
      <input name="bounding_box_south" type="hidden" {% if let Some(latitude) = params.bounding_box_south %} value="{{ latitude }}" {% else %} disabled {% endif %} />
      <input name="bounding_box_east" type="hidden" {% if let Some(longitude) = params.bounding_box_east %} value="{{ longitude }}" {% else %} disabled {% endif %} />
      <input name="bounding_box_north" type="hidden" {% if let Some(latitude) = params.bounding_box_north %} value="{{ latitude }}" {% else %} disabled {% endif %} />

      {% for weight in params.origin_weights %} <input name="origin_weights" type="hidden" value="{{ weight }}" /> {% endfor %}

      <input type="submit" value="Search" />
    </form>

    <h4>Found {{ count }} results{% if let Some(bounding_box) = params.bounding_box() %} in {{ bounding_box.min().x }}° .. {{ bounding_box.max().x }}° x {{ bounding_box.min().y }}° .. {{ bounding_box.max().y }}°{% endif %}.</h4>

    {% if !similar_terms.is_empty() %}

    <h4>Similar terms</h4>

    <p id="similar-terms">

      {% for (term, similar_term) in similar_terms %}

      <a href="#replace_term:{{ term }}/{{ similar_term }}">s/{{ term }}/{{ similar_term }}/gi</a>

      {% endfor %}

    </p>

    {% endif %}

    {% if !related_terms.is_empty() %}

    <h4>Related terms</h4>

    <p id="related-terms">

      {% for (_, terms) in related_terms %}

        {% for term in terms %}

        <span>{{ term }}&nbsp;<a href="#add_term:{{ term }}">?</a>&nbsp;<a href="#add_term:+{{ term }}">+</a>&nbsp;<a href="#add_term:-{{ term }})">-</a></span>

        {% endfor %}

      {% endfor %}

    </p>

    {% endif %}

    <div id="results">

      {% for result in results %}

      <div>
        <h2><a href="/dataset/{{ result.value.source }}/{{ result.value.id }}" title="Score: {{ result.score }}"">{{ result.value.value.title }}</a></h2>

        {% if let Some(description) = result.value.value.description %} <p>{{ description }}</p> {% endif %}
      </div>

      {% endfor %}

      <div id="pages">

      {% for page in self.pages() %}

        {% if page == 0 %}

        &mldr;

        {% else %}

          {% if page == params.page %} <b> {% endif %}

          <a href="#go_to_page:{{ page }}">{{ page }}</a>

          {% if page==params.page %} </b> {% endif %}

        {% endif %}

      {% endfor %}

      </div>

    </div>

    <div id="side_bar">

      <div id="bounding_box"></div>

      <input form="form" type="checkbox" id="bounding_box_contains" name="bounding_box_contains" value="true" {% if params.bounding_box_contains %} checked {% endif %} />
      <label for="bounding_box_contains">Contains</label>

      <input form="form" type="checkbox" id="bounding_box_spatial_clusters" name="bounding_box_spatial_clusters" value="true" {% if params.bounding_box_spatial_clusters %} checked {% endif %} />
      <label for="bounding_box_spatial_clusters">Spatial clusters</label>

      <script id="spatial_clusters" type="application/json">
        {{ spatial_clusters|json|safe }}
      </script>

      <div id="time_range">

        <label><b>From:</b> <input form="form" name="time_range_from" type="date" {% if let Some(from) = params.time_range_from %} value="{{ from }}" {% endif %} /></label>

        <label><b>Until:</b> <input form="form" name="time_range_until" type="date" {% if let Some(until) = params.time_range_until %} value="{{ until }}" {% endif %} /></label>

      </div>

      <div id="facets">

        {% if !params.origins_root.is_root() %} <h4>Origin: <a href="#reset_origins_root:">{{ params.origins_root }}</a></h4> {% endif %}

        {% if !origins.is_empty() %}

        <table>

          <thead>
            <tr>
              <th>Origin</th><th>Count</th>
            </tr>
          </thead>

          <tbody>

          {% for (origin, count) in origins %}

            <tr>
              <td><a href="#set_origins_root:{{ origin }}">{{ origin|strip_root(params.origins_root) }}</a></td><td>{{ count }}</td>
            </tr>

          {% endfor %}

          </tbody>

        </table>

        {% endif %}


        {% if !params.types_root.is_root() %} <h4>Type: <a href="#reset_types_root:">{{ params.types_root }}</a></h4> {% endif %}

        {% if !types.is_empty() %}

        <table>

          <thead>
            <tr>
              <th>Type</th><th>Count</th>
            </tr>
          </thead>

          <tbody>

          {% for (type, count) in types %}

            <tr>
              <td><a href="#set_types_root:{{ type }}">{{ type|strip_root(params.types_root) }}</a></td><td>{{ count }}</td>
            </tr>

          {% endfor %}

          </tbody>

        </table>

        {% endif %}


        {% if !params.licenses_root.is_root() %} <h4>License: <a href="#reset_licenses_root:">{{ params.licenses_root }}</a></h4> {% endif %}

        {% if !licenses.is_empty() %}

        <table>

          <thead>
            <tr>
              <th>License</th><th>Count</th>
            </tr>
          </thead>

          <tbody>

          {% for (license, count) in licenses %}

            <tr>
              <td><a href="#set_licenses_root:{{ license }}">{{ license|strip_root(params.licenses_root) }}</a></td><td>{{ count }}</td>
            </tr>

          {% endfor %}

          </tbody>

        </table>

        {% endif %}


        {% if !params.languages_root.is_root() %} <h4>Language: <a href="#reset_languages_root:">{{ params.languages_root }}</a></h4> {% endif %}

        {% if !languages.is_empty() %}

        <table>

          <thead>
            <tr>
              <th>Language</th><th>Count</th>
            </tr>
          </thead>

          <tbody>

          {% for (language, count) in languages %}

            <tr>
              <td><a href="#set_languages_root:{{ language }}">{{ language|strip_root(params.languages_root) }}</a></td><td>{{ count }}</td>
            </tr>

          {% endfor %}

          </tbody>

        </table>

        {% endif %}


        {% if !params.resource_types_root.is_root() %} <h4>Resource type: <a href="#reset_resource_types_root:">{{ params.resource_types_root }}</a></h4> {% endif %}

        {% if !resource_types.is_empty() %}

        <table>

          <thead>
            <tr>
              <th>Resource type</th><th>Count</th>
            </tr>
          </thead>

          <tbody>

          {% for (resource_types, count) in resource_types%}

            <tr>
              <td><a href="#set_resource_types_root:{{ resource_types }}">{{ resource_types|strip_root(params.resource_types_root) }}</a></td><td>{{ count }}</td>
            </tr>

          {% endfor %}

          </tbody>

        </table>

        {% endif %}


        {% if !params.topics_root.is_root() %} <h4>Topic: <a href="#reset_topics_root:">{{ params.topics_root }}</a></h4> {% endif %}

        {% if !topics.is_empty() %}

        <table>

          <thead>
            <tr>
              <th>Topic</th><th>Count</th>
            </tr>
          </thead>

          <tbody>

          {% for (topic, count) in topics %}

            <tr>
              <td><a href="#set_topics_root:{{ topic }}">{{ topic|strip_root(params.topics_root) }}</a></td><td>{{ count }}</td>
            </tr>

          {% endfor %}

          </tbody>

        </table>

        {% endif %}

      </div>

    </div>
  </body>
</html>
