<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Alternatives</title>
  </head>

  <body>
    <table>
      <thead>
        <th>Count</th><th>Frequency</th>
      </thead>

      <tbody>
        {% for (count, freq) in frequencies %}

        <tr>
          <td>{{ count }}</td><td>{{ freq }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
