<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Facets</title>
  </head>

  <body>
    <p>Queries: {{ queries }}</p>

    <details>
      <summary>Types</summary>

      <table>
        <thead>
          <th>Facet</th><th>Count</th>
        </thead>
        
        <tbody>
          {% for (facet, count) in types %}

          <tr>
            <td>{{ facet }}</td><td>{{ count }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </details>

    <details>
      <summary>Topics</summary>

      <table>
        <thead>
          <th>Facet</th><th>Count</th>
        </thead>
        
        <tbody>
          {% for (facet, count) in topics %}

          <tr>
            <td>{{ facet }}</td><td>{{ count }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </details>

    <details>
      <summary>Origins</summary>

      <table>
        <thead>
          <th>Facet</th><th>Count</th>
        </thead>
        
        <tbody>
          {% for (facet, count) in origins %}

          <tr>
            <td>{{ facet }}</td><td>{{ count }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </details>

    <details>
      <summary>Licenses</summary>

      <table>
        <thead>
          <th>Facet</th><th>Count</th>
        </thead>
        
        <tbody>
          {% for (facet, count) in licenses %}

          <tr>
            <td>{{ facet }}</td><td>{{ count }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </details>

    <details>
      <summary>Languages</summary>

      <table>
        <thead>
          <th>Facet</th><th>Count</th>
        </thead>
        
        <tbody>
          {% for (facet, count) in languages %}

          <tr>
            <td>{{ facet }}</td><td>{{ count }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </details>

    <details>
      <summary>Resource types</summary>

      <table>
        <thead>
          <th>Facet</th><th>Count</th>
        </thead>
        
        <tbody>
          {% for (facet, count) in resource_types %}

          <tr>
            <td>{{ facet }}</td><td>{{ count }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </details>
  </body>
</html>
