<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Quality</title>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th>Score</th><th>Min</th><th>Med</th><th>Avg</th><th>Max</th>
        </tr>
      </thead>

      <tbody>
        {% for (name, min, med, avg, max) in scores %}

        <tr>
          <td>{{ name }}</td>
          <td>{{ "{:0.3}"|format(min) }}</td>
          <td>{{ "{:0.3}"|format(med) }}</td>
          <td>{{ "{:0.3}"|format(avg) }}</td>
          <td>{{ "{:0.3}"|format(max) }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
