<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Queried tags</title>
  </head>

  <body>
    <table>
      <thead>
        <tr>
          <th>Tag</th><th>Queries</th>
        </tr>
      </thead>

      <tbody>
        {% for (tag, queries) in tags %}

        <tr>
          <td>{% if let Some(url) = tag.url() %} <a href="{{ url }}">{{ tag }}</a> {% else %} {{ tag }} {% endif %}</td><td>{{ queries }}</td>
        </tr>

        {% endfor %}

        <tr>
          <td><b>Count</b></td><td><b>{{ tags.len() }}</b></td>
        </tr>

        <tr>
          <td><b>Sum</b></td><td><b>{{ sum }}</b></td>
        </tr>

        <tr>
          <td><b>Median</b></td><td><b>{{ median }}</b></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
