<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">

    <title>umwelt.info: Regions</title>
  </head>

  <body>
    <table>
      <thead>
        <th>Region</th><th>Count</th>
      </thead>

      <tbody>
        {% for (region, count) in regions %}

        <tr>
          <td>{% if let Some(url) = region.url() %} <a href="{{ url }}">{{ region }}</a> {% else %} {{ region }} {% endif %}</td><td>{{ count }}</td>
        </tr>

        {% endfor %}

        <tr>
          <td><b>Other</b></td><td><b>{{ sum_other }} ({{ cnt_other }})</b></td>
        </tr>

      </tbody>
    </table>
  </body>
</html>
